* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: lightgray;
}

div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    width: 60rem;
    height: 4.375rem;
    margin: 0 auto;
}

.content {
    padding: 0px 15px;
}

.logo {
    margin-top: 1em;
}

.links {
    margin-top: -35px;
}

.links > li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin-left: 1em;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

