/*** Global ***/

html {
    /* Layout */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
}

div {
    border: 1px solid chocolate;
}

.content {
    /* Layout */
    width: 47.5rem;
    height: 4.375rem;
    margin: 0 auto;
    padding: 0px 15px;
}

/*** Navigation Section ***/

.top-navigation {
    /* Style */
    background-color: #fff;
}

.logo {
    /* Layout */
    height: 4.375rem;
}

.links {
    /* Layout */
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.06em;
    color: #838994;
    margin-top: 1.7rem;
    -webkit-font-smoothing: antialiased;
}

.links li {
    /* Layout */
    display: inline-block;
    margin-left: 1em;
    /* Style */
    letter-spacing: 0.03em;
}

.links .active {
    /* Style */
    color: #4c5058;
    font-weight: 500;
}

.links li:hover {
    cursor: pointer;
    color: #333;
}