body {
    background-color: lightgray;
}

div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.logo {
    margin: 1em 0 0 1em;
}